<style type="text/css">
   .invisible {
      display: none;
    }
</style>

<script type="text/javascript">


   function get_filename() {
      var p = window.location.pathname;
      var x = p.split("/");
      return x[x.length-1];
   }

   $(document).ready(function() {
      var archive_url = "/wsgi-bin/archive.wsgi";
      $("a#build-archive-href").attr('href',archive_url);
      if (get_filename().match(/_INDEX$/)) {
         var remote_url = "/build_epub.html?root=" + get_filename();
         $("ul.actions span#build-epub").removeClass("invisible");
         $("ul.actions span#build-epub a#build-epub-href").attr('href',remote_url);

      }
      $('a#build-archive-href').click(function (e) {
         e.preventDefault();
         window.location.href = $('a#build-archive-href').attr('href'); 
      });
   });

</script>

<div id="wiki-wrapper" class="page">
<div id="head">
  <h1>{{title}}</h1>
  <ul class="actions">
    <li class="minibutton"><a href="/pages"
      class="action-all-pages">All Pages</a></li>

    <li class="minibutton" class="jaws">
      <a href="#" id="minibutton-new-page">New Page</a></li>

    <li class="minibutton"><a href="/edit/{{escaped_name}}"
       class="action-edit-page">Edit Page</a></li>

    <li class="minibutton"><a href="/history/{{escaped_name}}"
       class="action-page-history">Page History</a></li>
 
    <li class="minibutton" class="jaws">
      <a href="#" id="minibutton-upload-page">Upload Attachment</a></li>

    <li id="pull-archive" class="minibutton">
       <a id="build-archive-href" target="_blank" href="#">Download Archive</a>
    </li>

   <span id="build-epub" class="invisible">
       <li id="build-epub" class="minibutton">
          <a id="build-epub-href" target="_blank" href="#">Build EPUB</a>
       </li>
    </span>

  </ul>
  {{>searchbar}}
</div>
<div id="wiki-content">
  <div class="wrap{{#has_footer}} has-footer{{/has_footer}}{{#has_sidebar}} has-rightbar{{/has_sidebar}}">
  <div id="wiki-body" class="gollum-{{format}}-content">
    <div id="template">
      {{{content}}}
    </div>
  </div>
  <div id="wiki-rightbar" class="gollum-{{sidebar_format}}-content">
    <img src="/images/logo.png"/>
    <h2>Useful Links</h2>
    <ul class="ulist">
       <li><a href="/Home">Home</a></li>
       <li><a href="https://github.com/MakerPress/gettingStartedGuide" target="_blank">Getting Started Guide</a></li>
       <li><a href="http://svg-edit.googlecode.com/svn-history/r1771/trunk/editor/svg-editor.html" target="_blank">SVG Image Editor</a></li>
    </ul>
    {{{sidebar_content}}}
  </div>
  {{#has_footer}}
  <div id="wiki-footer" class="gollum-{{footer_format}}-content">
    <div id="footer-content">
      {{{footer_content}}}
    </div>
  </div>
  {{/has_footer}}
  </div>

</div>
<div id="footer">
  <p id="last-edit">
     Last edited by <b>{{author}}</b>, {{date}} <br>
     Your openid is <b><span id="auth_openid"></span></b> 
  </p>

</div>
</div>

<script type="text/javascript" src="/javascript/MathJax/MathJax.js"></script>
